<div class="page-header">
  <hr>
  <h1>1001819448 </h1>
  <h1>Dinesh Madurantakam </h1>
</div>
<div class="card-body">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-4">
          <select class="form-control" (change)="onSelected($event.target.value)">
            <option value="0">- Select -</option>
            <option value="1">- ByYearAndStatePO -</option>
            <option value="2">- ByYearBetweenAndStatePO -</option>
            <option value="3">- ByYearBetweenAndStatePOCandidates -</option>
            <option value="4">- ByCandidateVotesBetweenAndYearBetween</option>
          </select>
        </div>
		<div class="col-4">
			<select class="form-control"
					(change)="onSelectChartType($event.target.value)">
			  <option value="0">- Bar Chart -</option>
			  <option value="1">- Pie Chart -</option>
			</select>
		  </div>
      </div>
	</div>
</div>

<div class="card-body" *ngIf="filterId != 0">
  <div class="container">
    <div class="row justify-content-between">
      <div class="md-form" *ngIf="filterId == 1">
        <div class="row">
          <div class="col-sm">
            <input #Year mdbInput type="text" id="form1" class="form-control">
            <label for="form1" class="">Year</label>
          </div>
          <div class="col-sm">
            <input #StatePO mdbInput type="text" id="form1" class="form-control">
            <label for="form1" class="">StatePO</label>
          </div>
          <div class="col-sm">
            <button type="button" class="btn btn-primary"
                    (click)="byYearAndState(Year.value, StatePO.value)">Search</button>
          </div>
        </div>
      </div>
      <div class="md-form" *ngIf="filterId == 2">
        <div class="row">
          <div class="col-sm">
            <input #startVote mdbInput type="text" id="form1" class="form-control">
            <label for="form1" class="">startYear </label>
          </div>
          <div class="col-sm">
            <input #endVote mdbInput type="text" id="form1" class="form-control">
            <label for="form1" class="">endYaer </label>
          </div>
          <div class="col-sm">
            <input #startYear mdbInput type="text" id="form1" class="form-control">
            <label for="form1" class="">StatePO </label>
          </div>
          <div class="col-sm">
            <button type="button" class="btn btn-primary"
                    (click)="findByYearBetweenAndStatePoEquals(startVote.value, endVote.value, startYear.value)">Search</button>
          </div>

        </div>
      </div>
      <div class="md-form" *ngIf="filterId == 3">
        <div class="row">
          <div class="col-sm">
            <input #startVote mdbInput type="text" id="form1" class="form-control">
            <label for="form1" class="">startYear </label>
          </div>
          <div class="col-sm">
            <input #endVote mdbInput type="text" id="form1" class="form-control">
            <label for="form1" class="">endYaer </label>
          </div>
          <div class="col-sm">
            <input #startYear mdbInput type="text" id="form1" class="form-control">
            <label for="form1" class="">StatePO </label>
          </div>
          <div class="col-sm">
            <button type="button" class="btn btn-primary"
                    (click)="findByYearBetweenAndStatePo(startVote.value, endVote.value, startYear.value)">Search</button>
          </div>

        </div>
      </div>
      <div class="md-form" *ngIf="filterId == 4">
        <div class="row">
          <div class="col-sm">
            <input #startVote mdbInput type="text" id="form1" class="form-control">
            <label for="form1" class="">startVote </label>
          </div>
          <div class="col-sm">
            <input #endVote mdbInput type="text" id="form1" class="form-control">
            <label for="form1" class="">endVote </label>
          </div>
          <div class="col-sm">
            <input #startYear mdbInput type="text" id="form1" class="form-control">
            <label for="form1" class="">startYear </label>
          </div>
          <div class="col-sm">
            <input #endYear mdbInput type="text" id="form1" class="form-control">
            <label for="form1" class="">endYear </label>
          </div>
          <div class="col-sm">
            <button type="button" class="btn btn-primary"
                    (click)="findByCandidateVotesBetweenAndYearBetween(startYear.value, endYear.value, startVote.value, endVote.value)">Search</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="card-body"
       *ngIf="chartType == 0">
<ngx-charts-bar-horizontal
    [view]="[1500,600]"
    [results]="chartData"
    [xAxisLabel]="xAxisLabel"
    [legendTitle]="legendTitle"
    [yAxisLabel]="yAxisLabel"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [gradient]="true">
</ngx-charts-bar-horizontal>
</div>
<div class="card-body"
       *ngIf="chartType == 1">
<ngx-charts-pie-chart
  [results]="chartData"
  [legend]="true"
  [legendTitle]="legendTitle"
  [view]="[1500,600]"
  [labels]="true" >
</ngx-charts-pie-chart>
</div>
